<div class="w-75 mx-auto mt-5">
  <div style="height: 400px">
    <div
      class="shadow rounded bg2 px-5 py-2 mt-3"
      style="margin-inline: 7rem; z-index: 11; font-size: 14px"
    >
      <p>
        The <b>Baseline</b> is the initial state of the target environment. It's
        represented by the state of configration tables dumped into json files.
        These files must be present under the repository folder :
        <b
          ><i>
            {{
              this.current_configuration.git.repository +
                this.current_configuration.git.baseline.name
            }}</i
          ></b
        >
      </p>
      <p>
        It must have an identical state with the source environment at this
        stage of the configuration.
      </p>
      <p>
        You can skip the generation of the baseline right now, but the target
        environment configuration shoudn't mutate in the mean time
        <i>(this can cause inconsistency)</i>.
      </p>

      <p>
        If you've already generated your baseline, you can upload it
        <a
          style="text-decoration: underline; color: blue"
          role="button"
          (click)="this.current_configuration.baseline.uploaded = true"
          >here</a
        >. If not, please folow this documentation
        <a style="text-decoration: underline; color: blue" role="button"
          >link</a
        >
        to start the generation process.
      </p>
      <p>
        If your current environment is identical to the target environment you
        can also generate the baseline right now using
        <b>{{ "{insert app name here}" }}. </b>
        <span
          (click)="advanced = !advanced"
          role="button"
          class="badge rounded-pill bg-success text-white"
          ><i>generate now</i></span
        >
      </p>

      <div *ngIf="advanced" class="d-flex mb-4">
        <small><b>Generation options :</b></small>
        <div class="ms-3">
          <div class="form-check form-switch" role="group">
            <input
              (change)="generateChanged()"
              [(ngModel)]="this.current_configuration.baseline.generate"
              type="checkbox"
              class="form-check-input"
              id="generate"
              autocomplete="off"
            />
            <label class="form-check-label" for="generate">Generate</label>
          </div>
          <div class="form-check form-switch" role="group">
            <input
              (change)="
                !this.current_configuration.baseline.commit
                  ? (this.current_configuration.baseline.download = true)
                  : ''
              "
              [disabled]="!this.current_configuration.baseline.generate"
              [(ngModel)]="this.current_configuration.baseline.commit"
              type="checkbox"
              class="form-check-input"
              id="commit"
              autocomplete="off"
            />
            <label class="form-check-label" for="commit">Commit</label>
          </div>
          <div class="form-check form-switch" role="group">
            <input
              (change)="
                !this.current_configuration.baseline.download
                  ? (this.current_configuration.baseline.commit = true)
                  : ''
              "
              [disabled]="!this.current_configuration.baseline.generate"
              [(ngModel)]="this.current_configuration.baseline.download"
              type="checkbox"
              class="form-check-input"
              id="download"
              autocomplete="off"
            />
            <label class="form-check-label" for="download">Download</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center mt-4">
    <div class="btn-group">
      <button
        (click)="step_back()"
        class="btn btn-light mx-1 px-5 fw-bold"
        type="button"
      >
        Back
      </button>
      <button
        (click)="generate()"
        class="btn btn-success mx-1 px-5 fw-bold"
        type="button"
      >
        Generate baseline now
      </button>
      <button
        [disabled]="!this.current_configuration.baseline.generate"
        (click)="step()"
        class="btn btn-primary mx-1 px-5 fw-bold"
        type="button"
      >
        Next
      </button>
    </div>
  </div>
</div>
