<div *ngIf="record.expanded">
  <table
    *ngIf="record.expanded"
    class="m-0 table table-dark table-hover table-striped table-bordered border-light"
  >
    <!-- {{
      record.operation === 'INSERT' ? 'table-success' : ''
    }} -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Column</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of allKeys; let i = index">
        <th scope="row">
          {{ i }}
        </th>
        <!-- class="{{ record.operation === 'INSERT' ? '' : 'active' }}" -->
        <td>
          {{ key }}
        </td>

        <td>
          {{ record.state[key] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
