<div *ngIf="record.expanded">
  <table
    *ngIf="record.expanded"
    class="m-0 table {{
      record.operation === 'INSERT' ? 'table-success' : ''
    }} table-hover table-striped table-bordered border-dark"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Column</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of allKeys; let i = index">
        <th  scope="row">
          {{ i }}
        </th>
        <td class="{{ record.operation === 'INSERT' ? '' : 'active' }}">
          {{ key }}
        </td>

        <td class="{{ record.operation === 'INSERT' ? '' : 'active' }}">
          {{ record.state[key] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
