<div *ngIf="record.expanded">
  <table
    *ngIf="record.expanded"
    class="m-0 table {{
      record.operation === 'INSERT' ? 'table-success' : ''
    }} table-hover table-striped table-bordered border-dark"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Column</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of allKeys; let i = index">
        <th scope="row">
          {{ i }}
        </th>
        <td class="{{ record.operation === 'INSERT' ? '' : 'active' }}">
          <div
            [title]="key"
            class="hide-scroll-bar"
            style="max-width: 480px; overflow: scroll"
          >
            {{ key }}
          </div>
        </td>

        <td class="{{ record.operation === 'INSERT' ? '' : 'active' }}">
          <div
            [title]="record.state[key]"
            class="hide-scroll-bar"
            style="max-width: 480px; overflow: scroll"
          >
            {{ record.state[key] }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
