<div class="w-50 mx-auto mt-5">
  <div style="height: 400px">
    <div *ngIf="!advanced">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis a
      pariatur hic mollitia, odio consequuntur voluptates rerum iste dolor nam
      sed distinctio delectus illo tempore qui, aliquam, consequatur omnis
      perferendis?
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Provident quibusdam perferendis odit? Magnam rerum maxime expedita.
        Doloribus alias culpa quas, </p>
      <p>dignissimos minus voluptates, repellat a
        facilis nemo accusamus quidem suscipit. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Enim aliquam, illo ab a voluptatem veritatis
        ut labore. Sint ullam numquam praesentium at doloremque quaerat laboriosam
        reprehenderit aut magnam. Atque, rerum.</p>
    </div>

    <div class="d-flex align-items-center my-1">
      <b>Partial extraction </b>
      <div id="expand-no-expand" class="ms-2 mb-1 fw-bold">
        <div *ngIf="advanced" (click)="advanced = !advanced" role="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            fill="currentColor"
            class="bi bi-chevron-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
        <div *ngIf="!advanced" (click)="advanced = !advanced" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
          </svg>
        </div>
      </div>
    </div>
    <div *ngIf="advanced">
      <div class="input-group mb-1">
        <span class="input-group-text w-25 bg-primary text-white">Start & End date</span>
        <input
          [(ngModel)]="this.delta.start_date"
          type="datetime-local"
          class="form-control"
        />
        <input
          [(ngModel)]="this.delta.end_date"
          type="datetime-local"
          class="form-control"
        />
      </div>

      <div class="input-group mb-1">
        <span class="input-group-text w-25 bg-primary text-white">Issues list</span>
        <input
          [(ngModel)]="this.delta.issues"
          placeholder="example : ISSUE-1001, ISSUE-1002, ISSUE-1003... (this should be a multiselect, get issues from db)"
          type="text"
          class="form-control"
        />
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text w-25 bg-primary text-white">Modules list</span>
        <input
          [(ngModel)]="this.delta.modules"
          placeholder="example : presentation, mapping ... (this should be a multiselect, get modules from db)"
          type="text"
          class="form-control"
        />
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text w-25 bg-primary text-white">Tables list</span>
        <input
          [(ngModel)]="this.delta.tables"
          placeholder="example : ent_screen, ing_mapping... (this should be a multiselect, get tables from config)"
          type="text"
          class="form-control"
        />
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text w-25 bg-primary text-white">configurator</span>
        <input
          [(ngModel)]="this.delta.user"
          placeholder="username of the configurator"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div *ngIf="advanced">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
          />
        </symbol>
      </svg>
      <div
        class="alert alert-primary d-flex align-items-start py-2 mt-2"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Info:"
        >
          <use xlink:href="#info-fill" />
        </svg>
        <div style="font-size: 13px">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae nesciunt ducimus quas illo qui provident suscipit veritatis commodi perferendis cumque tempore, dolore enim ex consectetur earum doloremque natus quam similique?
        </div>
        <button type="button" class="ms-auto btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center mt-4">
    <div class="btn-group">
      <button
        (click)="step_back()"
        class="btn btn-secondary mx-1 px-5 fw-bold"
        type="button"
      >
        Back
      </button>

      <button
        [disabled]="generatingDelta"
        (click)="generateDelta()"
        class="btn btn-primary mx-1 fw-bold px-5"
        type="button"
      >
        <div class="d-flex align-items-center">
          <div>Generate Delta</div>
          <div
            *ngIf="generatingDelta"
            class="spinner-border ms-2"
            style="width: 25px; height: 25px"
            role="status"
            aria-hidden="true"
          ></div>
        </div>
      </button>
    </div>
  </div>
</div>
