<div class="my-5 row container container-fluid mx-auto">
  <!-- <div class="col-1"></div> -->
  <div class="col-4 ">
    <div role="button" [routerLink]="['init']" class="pb-3 bg2 rounded">
      <div
        class="zoom d-flex justify-content-center align-items-center"
        style="height: 250px"
      >
        <img
          src="assets\img\new-config.png"
          class="zoom"
          alt="Triggers"
          height="200"
        />
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <p class="card-text fs-5 fw-bolder">New configuration</p>
      </div>
    </div>
  </div>

  <!-- <div class="col-3 px-2 pb-3 shadow border bg-body rounded m-2">
    <a href="head" style="text-decoration: none">
      <div class="zoom d-flex justify-content-center align-items-center">
        <img
          src="assets\img\master.png"
          class="zoom"
          alt="Head"href="
          height="250"
        />
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <p class="card-text  fs-5 fw-bolder">Head</p>
      </div></a
    >
  </div> -->

  <!-- <div class="col-3 px-2 pb-3 shadow border bg-body rounded m-2">
    <a href="delta" style="text-decoration: none">
      <div class="zoom d-flex justify-content-center align-items-center">
        <img
          src="assets\img\delta.png"
          class="zoom"
          alt="Create a new Delta"
          height="250"
        />
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <p class="card-text  fs-5 fw-bolder">Diff</p>
      </div>
    </a>
  </div> -->
  <!-- <div class="col-1"></div>
  <div class="col-1"></div> -->
  <div class="col-4 ">
    <div
      role="button"
      [routerLink]="['compare']"
      class="pb-3 shadow rounded bg2"
    >
      <div
        class="zoom d-flex justify-content-center align-items-center"
        style="height: 250px"
      >
        <img
          src="assets\img\compare.png"
          class="zoom"
          alt="Compare environments"
          height="220"
        />
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <p class="card-text  fs-5 fw-bolder">Compare</p>
      </div>
    </div>
  </div>

  <div class="col-4 ">
    <div [routerLink]="'merge'" class="pb-3 shadow rounded bg2">
      <div
        class="zoom d-flex justify-content-center align-items-center"
        style="height: 250px"
      >
        <img
          src="assets\img\merge.jpg"
          class="zoom"
          alt="Merge"
          height="200"
        />
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <p class="card-text  fs-5 fw-bolder">Merge</p>
      </div>
    </div>
  </div>

  <!-- <div class="col-3 px-2 pb-3 shadow border bg-body rounded m-2">
    <a href="" style="text-decoration: none">
      <div class="zoom d-flex justify-content-center align-items-center">
        <img
          src="assets\img\push.svg"
          class="zoom"
          alt="commit"
          height="250"
        />
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <p class="card-text  fs-5 fw-bolder">Push</p>
      </div>
    </a>
  </div> -->
</div>
