<div >
  <div class="text-center">
    <h3>Configuration setup</h3>
  </div>
  <div
    class="mt-2 mx-auto d-flex align-items-center justify-content-center"
    style="width: 50vw"
  >
    <div style="position: relative">
      <div
        (click)="goto(1)"
        role="button"
        class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
        [ngStyle]="getStepsCss(1)"
        style="position: relative"
      >
        1
      </div>
      <div style="position: absolute; bottom: -30px; left: 20%">Git</div>
    </div>
    <div
      class="rounded-pill flex-grow-1 mx-2"
      style="height: 10px; background-color: #e7eeec"
    ></div>
    <div style="position: relative">
      <div
        (click)="goto(2)"
        role="button"
        class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
        [ngStyle]="getStepsCss(2)"
        style="position: relative"
      >
        2
      </div>
      <div style="position: absolute; bottom: -30px; left: -30%">Database</div>
    </div>
    <div
      class="rounded-pill flex-grow-1 mx-2"
      style="height: 10px; background-color: #e7eeec"
    ></div>
    <div style="position: relative">
      <div
        (click)="goto(3)"
        role="button"
        class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
        [ngStyle]="getStepsCss(3)"
        style="position: relative"
      >
        3
      </div>
      <div style="position: absolute; bottom: -30px">Tables</div>
    </div>
    <div
      class="rounded-pill flex-grow-1 mx-2"
      style="height: 10px; background-color: #e7eeec"
    ></div>
    <div style="position: relative">
      <div
        (click)="goto(4)"
        role="button"
        class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
        [ngStyle]="getStepsCss(4)"
        style="position: relative"
      >
        4
      </div>
      <div style="position: absolute; bottom: -30px; left: -10%">Baseline</div>
    </div>
    <div
      class="rounded-pill flex-grow-1 mx-2"
      style="height: 10px; background-color: #e7eeec"
    ></div>
    <div style="position: relative">
      <div
        (click)="goto(5)"
        role="button"
        class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
        [ngStyle]="getStepsCss(5)"
        style="position: relative"
      >
        5
      </div>
      <div style="position: absolute; bottom: -30px; left: -30%">Summary</div>
    </div>
  </div>

  <app-git
    *ngIf="currentStep == 1"
    [current_configuration]="this.current_configuration"
    (step)="step($event)"
  ></app-git>
  <app-connect
    *ngIf="currentStep == 2"
    [current_configuration]="this.current_configuration"
    (step)="step($event)"
    (step_back)="step_back($event)"
  ></app-connect>
  <app-tables
    *ngIf="currentStep == 3"
    (step)="step($event)"
    (step_back)="step_back($event)"
    [current_configuration]="this.current_configuration"
  ></app-tables>
  <app-baseline
    *ngIf="currentStep == 4"
    (step)="step($event)"
    (step_back)="step_back($event)"
    [current_configuration]="this.current_configuration"
  ></app-baseline>
  <app-summary
    *ngIf="currentStep == 5 && !starting && !started"
    (step_back)="step_back($event)"
    (starter)="start($event)"
    [current_configuration]="this.current_configuration"
  ></app-summary>
  <app-initialization
  [current_configuration]="this.current_configuration"
></app-initialization>
</div>
<div *ngIf="starting && !started" class="text-center" style="z-index: 999;">
  <img src="assets\img\rocket.gif" />
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="save"
  tabindex="-1"
  aria-labelledby="saveLabl"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveLabl">Save configuration</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-1">
          <span class="input-group-text">Name : </span>
          <input
            [(ngModel)]="this.current_configuration.name"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-{{ false ? '' : 'outline-' }}secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          (click)="save()"
          [disabled]="!this.current_configuration.name || saved"
          type="button"
          class="btn btn-primary"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
