<div class="text-center">
  <p class="fs-4">Current configuration : <b>{{ current_configuration.name }}</b></p>
</div>
<div
  class="my-5 mx-auto d-flex align-items-center justify-content-center"
  style="width: 50vw"
>
  <div style="position: relative">
    <div
      (click)="goto(1)"
      role="button"
      class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
      [ngStyle]="getStepsCss(1)"
      style="position: relative"
    >
      1
    </div>
    <div style="position: absolute; bottom: -30px; left: -80%; width: 200px">
      <!-- <img src="assets\img\delta.png" alt="" width="25px" class="mb-1" /> -->
      Generate Delta
    </div>
  </div>
  <div
    class="rounded-pill flex-grow-1 mx-2"
    style="height: 10px; background-color: #e7eeec"
  ></div>
  <div style="position: relative">
    <div
      (click)="goto(2)"
      role="button"
      class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
      [ngStyle]="getStepsCss(2)"
      style="position: relative"
    >
      2
    </div>
    <div style="position: absolute; bottom: -30px; left: -50%; width: 200px">
      Initial State
    </div>
  </div>
  <div
    class="rounded-pill flex-grow-1 mx-2"
    style="height: 10px; background-color: #e7eeec"
  ></div>
  <div style="position: relative">
    <div
      (click)="goto(3)"
      role="button"
      class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
      [ngStyle]="getStepsCss(3)"
      style="position: relative"
    >
      3
    </div>
    <div style="position: absolute; bottom: -30px; left: -30%; width: 200px">
      Compare
    </div>
  </div>
  <div
    class="rounded-pill flex-grow-1 mx-2"
    style="height: 10px; background-color: #e7eeec"
  ></div>
  <div style="position: relative">
    <div
      (click)="goto(4)"
      role="button"
      class="rounded-circle d-flex align-items-center justify-content-center fs-5 pb-1"
      [ngStyle]="getStepsCss(4)"
      style="position: relative"
    >
      4
    </div>
    <div style="position: absolute; bottom: -30px; left: -70%; width: 200px">
      Updated state
    </div>
  </div>
</div>

<app-delta [current_configuration]="current_configuration" *ngIf="currentStep == 1"></app-delta>
