<div
  [ngStyle]="{ display: started ? '' : 'none' }"
  class="text-center mx-5 px-5 mt-5"
>
  <div class="row mx-5 px-5">
    <div class="col-1 my-auto pb-3">
      <img
        *ngIf="!executed && !finished && !executing"
        role="button"
        (click)="execute()"
        src="assets\img\play.jpg"
        width="80px"
        height="70px"
      />
      <img class="mt-1"
        *ngIf="finished"
        src="assets\img\done.png"
        width="120px"
        height="70px"
      />
      <img
        *ngIf="executing && !finished"
        src="assets\img\running.gif"
        width="90px"
        height="70px"
      />
    </div>

    <div id="flow" class="col-11 mermaid"></div>
  </div>

  <div *ngIf="finished" class="w-100 text-center mt-3">
    <button
      *ngIf="hasErrors"
      (click)="retryFailedTasks()"
      role="button"
      class="btn btn-outline-danger ms-auto"
    >
      Retry failed tasks
    </button>
    <!-- Button trigger modal -->
    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#save"
      role="button"
      class="mx-2 btn btn-success"
    >
      Save and quit
    </button>
  </div>
</div>
