/* You can add global styles to this file, and also import other style files */
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
.caused-by {
  background-color: #000000;
  color: rgb(10, 228, 10);
  font-family: Courier;
  font-size: small;
  font-weight: lighter;
}
.console-body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.console-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

#prompt {
  font-style: unset;
  font-size: 1em;
}
#prompt.idle {
  animation: blink 1100ms linear infinite;
  -webkit-animation: blink 1100ms linear infinite;
}

@keyframes blink {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
.dropdown-item:hover {
  background-color: transparent;
}
.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon-green {
  font: bold 12px Sans-Serif;
  position: absolute;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #bfdc7a;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bfdc7a),
    to(#8ebf45)
  );
  background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before,
.ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

#sideNav {
  position: fixed;
  top: 40vh;
  width: 200px;
  height: 100px;
  right: -40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.showCharts {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.5s;
}
.showFilter {
  position: absolute;
  top: 50px;
  right: 0px;
  transition: 0.5s;
}
.collapseAll {
  position: absolute;
  top: 100px;
  right: 0px;
  transition: 0.5s;
}
.expandAll {
  position: absolute;
  top: 150px;
  right: 0px;
  transition: 0.5s;
}

#sideNav button:hover {
  right: 40px;
}

.header-primary {
  background-image: linear-gradient(
    90deg,
    rgb(4, 0, 248),
    rgb(2, 117, 216) 78%
  );
}

.header-dark {
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(51, 61, 86) 78%);
}

.header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6.5px 13px 0px,
    rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 80px;
  justify-content: flex-start;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  object-fit: contain;
  padding-bottom: 6.5px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6.5px;
  position: sticky;
  text-align: left;
  text-size-adjust: 100%;
  top: 0px;
  user-select: none;
  width: 100vw;
  z-index: 999;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.advisor {
  align-self: center;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  margin: auto auto;
  flex-basis: 16.6667%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 64px;
  justify-content: center;
  line-height: normal;
  max-width: 16.6667%;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  user-select: none;
  width: 251.663px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  box-sizing: border-box;
  color: rgb(0, 123, 255);
  cursor: pointer;
  display: inline;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 64px;
  line-height: normal;
  text-align: left;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  user-select: none;
  vertical-align: middle;
  width: 191px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
pre {
  font-weight: 400;
}
.number-line {
  color: #adadaf;
}
.string {
  color: #95c602;
}
.number {
  color: #f2b619;
}
.boolean {
  color: #0097f1;
}
.null {
  color: #727990;
}
.key {
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c3c0c0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 0;
  background: rgb(13, 110, 253);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.bg1 {
  color: white;
  background-color: #292c34 !important;
}

.bg2 {
  color: white;
  background-color: rgb(16,21,35);
}
