<div>
  <section id="show-delta">
    <div class="row">
      <div class="col-2"></div>
      <div
        id="show-delta-summary"
        class="col-8 d-flex justify-content-between align-items-center"
      >
        <div>
          <p class="fs-4" [outerHTML]="changes_summary"></p>
        </div>
        <div>
          <button (click)="download()" class="btn btn-outline-info py-0">
            <small> Download</small>
          </button>
          <button
            class="btn btn-primary py-0 ms-2"
            data-bs-toggle="modal"
            data-bs-target="#save"
            [disabled]="saved"
          >
            <small>
              Save delta to <b>{{ current_configuration.name }}</b></small
            >
          </button>
        </div>
      </div>
    </div>
    <div
      id="show-delta-details"
      class="row mt-3 position-relative"
      style="font-size: 14px"
    >
      <div class="col-2">
        <section id="delta-criteria" class="d-flex flex-column align-items-start mb-3">
          <span
            *ngIf="
              delta.start_date ||
              delta.end_date ||
              delta.issues ||
              delta.modules ||
              delta.tables ||
              delta.user
            "
            class="fs-4"
            >Delta criteria</span
          >
          <span *ngIf="delta.start_date"
            ><b>from date : </b> {{ delta.start_date }}</span
          >
          <span *ngIf="delta.end_date"><b>to date : </b> {{ delta.end_date }}</span>
          <span *ngIf="delta.issues"
            ><b>selected issues : </b> {{ delta.issues }}</span
          >
          <span *ngIf="delta.modules"
            ><b>selected modules : </b> {{ delta.modules }}</span
          >
          <span *ngIf="delta.tables"
            ><b>selected tables : </b> {{ delta.tables }}</span
          >
          <span *ngIf="delta.user"><b>configurator : </b> {{ delta.user }}</span>
        </section>
        <div class="input-group rounded" style="position: relative">
          <input
            style="font-size: 14px"
            id="Filter"
            class="form-control ps-5"
            name="Filter changed tables"
            placeholder="Filter changed tables"
            [(ngModel)]="selectedTable"
            (keyup)="filterTablNames()"
          />
          <svg
            style="position: absolute; left: 10px; top: 25%; color: gray"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </div>
        <div
          class="d-flex flex-column mt-2 ps-2"
          style="color: rgb(102, 100, 100)"
        >
          <div
            role="button"
            class="d-flex align-items-center font-monospace mt-1"
            *ngFor="let t of table_names_filtered"
            (click)="scroll('scroll-' + t)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-table"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"
              />
            </svg>
            <p class="mb-1 ms-2">{{ t }}</p>
          </div>
        </div>
      </div>
      <div
        class="col-8 d-flex flex-column hide-scroll-bar"
        style="height: 550px; overflow: auto"
      >
        <app-view-one-change
          class="mb-3"
          *ngFor="let table of delta.changes"
          [table]="table"
          id="scroll-{{ table.table_name }}"
        ></app-view-one-change>
      </div>
      <div class="col-2">
        <app-view-filter [delta]="delta"></app-view-filter>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="save"
  tabindex="-1"
  aria-labelledby="saveLabl"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveLabl">New delta</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-1">
          <span class="input-group-text">name : </span>
          <input
            [(ngModel)]="this.delta.name"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-{{ saved ? '' : 'outline-' }}secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          [disabled]="!this.delta.name || saved"
          (click)="saveDelta()"
          type="button"
          class="btn btn-primary"
        >
          Save delta
        </button>
      </div>
    </div>
  </div>
</div>
