<div class="w-75 mx-auto mt-5">
  <div style="height: 400px">
    <div
      class="rounded px-2 py-2 mt-3"
      style="margin-inline: 7rem; z-index: 11"
    >
      <div class="input-group mb-1">
        <span class="input-group-text bg2" style="width: 35%">Repository</span>
        <input
          (change)="refreshBranches()"
          [disabled]="this.current_configuration.git.valid"
          [(ngModel)]="this.current_configuration.git.repository"
          type="text"
          class="bg2 p-2 rounded border flex-grow-1"
        />
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text bg2 text-white" style="width: 35%"
          >Branch</span
        >
        <select
          [disabled]="
            !this.current_configuration.git.repository ||
            this.current_configuration.git.valid
          "
          [(ngModel)]="this.current_configuration.git.branch"
          class="bg2 p-2 rounded border flex-grow-1"
          aria-label="select branch"
        >
          <option
            *ngFor="let branch of branches"
            value="{{ branch }}"
            [disabled]="branch === 'Select a branch'"
          >
            {{ branch }}
          </option>
        </select>
      </div>

      <div class="d-flex align-items-center ms-2 my-1">
        <small><b>Advanced settings</b></small>
        <div id="expand-no-expand" class="ms-2 mb-1 fw-bold">
          <div *ngIf="advanced" (click)="advanced = !advanced" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
          <div *ngIf="!advanced" (click)="advanced = !advanced" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div *ngIf="advanced">
        <div class="input-group mb-1">
          <span class="input-group-text bg2 text-white" style="width: 35%"
            >Configuration's folder</span
          >
          <input
            [disabled]="this.current_configuration.git.valid"
            [(ngModel)]="this.current_configuration.git.folder.name"
            type="text"
            class="bg2 p-2 rounded border flex-grow-1"
            (change)="refreshAttributes()"
          />
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text bg2 text-white" style="width: 35%"
            >Configuration's tables file</span
          >
          <input
            [disabled]="true"
            [(ngModel)]="this.current_configuration.git.tables.name"
            type="text"
            class="bg2 p-2 rounded border flex-grow-1"
          />
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text bg2 text-white" style="width: 35%"
            >SQL Triggers folder</span
          >
          <input
            [disabled]="true"
            [(ngModel)]="this.current_configuration.git.triggers.name"
            type="text"
            class="bg2 p-2 rounded border flex-grow-1"
          />
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text bg2 text-white" style="width: 35%"
            >JSON Baseline folder</span
          >
          <input
            [disabled]="true"
            [(ngModel)]="this.current_configuration.git.baseline.name"
            type="text"
            class="bg2 p-2 rounded border flex-grow-1"
          />
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text bg2 text-white" style="width: 35%"
            >Delivery folder</span
          >
          <input
            [disabled]="true"
            [(ngModel)]="this.current_configuration.git.delivery.name"
            type="text"
            class="bg2 p-2 rounded border flex-grow-1"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center mt-4">
    <div class="btn-group">
      <button
        (click)="back()"
        class="btn btn-light mx-1 px-5 fw-bold"
        type="button"
      >
        Discard
      </button>
      <button
        *ngIf="this.current_configuration.git.valid"
        (click)="
          this.message = null; this.current_configuration.git.valid = false
        "
        class="btn btn-info mx-1"
        type="button"
      >
        Edit GIT Configuration
      </button>
      <button
        *ngIf="!this.current_configuration.git.valid"
        (click)="validateGitConnection()"
        class="btn btn-success mx-1"
        type="button"
      >
        Test GIT Connectivity
      </button>
      <button
        [disabled]="!this.current_configuration.git.valid"
        (click)="step()"
        class="btn btn-primary mx-1 px-5 fw-bold"
        type="button"
      >
        Next
      </button>
    </div>
  </div>
</div>
